@import "old";

.statistics-counts {
  margin-left: -15px;
  margin-right: -15px;
  left: 0;
  justify-content: space-evenly;

  .count-item {
    padding: 0 15px;
    margin-bottom: 18px;

    &--small {
      min-width: 364px;
      @include mq(1300) {
        min-width: 273px;
      }
      @include mq(1200) {
        order: -2;
        min-width: auto;
      }
    }

    &--vacancy {
      @include mq(1200) {
        order: -1;
      }
    }

    .count-value {
      font-size: 122px;
      @include mq(1300) {
        font-size: 110px;
      }
      @include mq(1200) {
        font-size: 100px;
      }
      @include mq(991) {
        font-size: 60px;
      }
      @include mq(510) {
        font-size: 50px;
      }
      @include mq(450) {
        font-size: 40px;
      }
    }

    .count-text {
      font-size: 27px;
      @include mq(1200) {
        font-size: 20px;
      }
      @include mq(991) {
        font-size: 18px;
      }
      @include mq(510) {
        font-size: 14px;
      }
      @include mq(450) {
        font-size: 10px;
      }
    }
  }
}

.advantages-title {
  text-align: center;
}

.services-item {
  display: flex;
  flex-direction: column;

  &-link {
    margin-top: auto;
    position: relative;
    z-index: 3;
    padding-top: 18px;
    font-size: 22px;
  }
}

.media-row {
  a {
    display: block;
    margin: 0 15px 50px;
    max-width: calc(17% - 30px);
    font-size: 0;
    text-decoration: none;
    @include mq(1300) {
      max-width: calc(17% - 25px);
    }
    @include mq(991) {
      max-width: calc(17% - 30px);
      margin: 0 15px 30px;
    }
    @include mq(768) {
      max-width: calc(25% - 30px);
    }
    @include mq(576) {
      max-width: calc(50% - 30px);
    }

    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.03);
      }
    }

    &:active {
      cursor: pointer;

      img {
        transform: scale(0.99);
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s linear;
  }
}
.person {
  padding: 60px 0;
  @include mq(768) {
    padding: 40px 0;
  }
}
.person-name {
  letter-spacing: 0.01em;
}

.person-img {
  max-height: 277px;

  &--scaled {
    display: flex;
    justify-content: center;

    img {
      height: 277px;
      width: auto;
    }
  }
}
.about-row {
  display: flex;
  margin: 0 -30px;
  @include mq(991) {
    margin: 0;
    flex-wrap: wrap;
  }

  .about-group {
    width: 50%;
    padding: 0 30px;
    @include mq(991) {
      .list-square {
        margin: auto;
      }
      padding: 0;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  .mission {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.old-section {
  display: none !important;
}
.dib {
  display: inline-block;
}
.section-description {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(768) {
    padding: 40px 0;
  }

  .description-text {
    font-size: 32px;
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }

    @include mq(768) {
      font-size: 24px;
    }
    @include mq(576) {
      font-size: 18px;
    }
    @include mq(375) {
      font-size: 16px;
    }
  }
}
.how-work {
  padding: 60px 0;
  @include mq(768) {
    padding: 40px 0;
  }
  &__title {
    margin-bottom: 48px;
  }
  &__row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
  }
  &__cell {
    padding: 0 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    @include mq(991) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
    .cell {
      &-footer {
        display: flex;
        justify-content: center;
        padding-top: 48px;
        .cell-btn {
          text-align: center;
          padding-left: 32px;
          padding-right: 32px;
          cursor: pointer;
          min-width: 440px;
          justify-content: center;
          @include mq(991) {
            min-width: auto;
          }
          @include mq(480) {
            width: 280px;
          }
          &:before {
            opacity: 1;
          }
        }
      }
      &-title {
        color: $mainColor;
        font-size: 32px;
        margin-bottom: 8px;
        text-align: center;
        @include mq(576) {
          font-size: 24px;
        }
      }
      &-subtitle {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        @include mq(576) {
          font-size: 16px;
        }
      }
      &-steps {
        flex: 2;
        li {
          position: relative;
          padding-left: 30px;
          font-size: 24px;
          @include mq(768) {
            font-size: 18px;
          }
          @include mq(576) {
            font-size: 16px;
          }
          .step-comment {
            font-size: 0.7em;
            margin-top: 4px;
          }
          &:not(:last-child) {
            margin-bottom: 1em;
          }
          .steps-number {
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            color: $mainColor;
          }
        }
      }
    }
  }
}
.reasons {
  padding: 60px 0;
  &-title {
    font-size: 32px;
    margin-bottom: 1.5em;
  }
  .reasons-list {
    max-width: 100%;
    margin-bottom: 48px;
    li {
    }
  }
  .reasons-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .reasons-btn {
      text-align: center;
      padding-left: 32px;
      padding-right: 32px;
      cursor: pointer;
      min-width: 440px;
      justify-content: center;
      margin: 0 24px 24px;
      @include mq(991) {
        min-width: 360px;
      }
      @include mq(768) {
        min-width: 280px;
      }
    }
  }
}

.results {
  padding: 60px 0;
  text-align: center;
  &-title {
  }
  &-subtitle {
    font-size: 24px;
    margin-bottom: 48px;
    @include mq(991) {
      text-align: center;
    }
  }
  &-row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    @include mq(1200) {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  &-cell {
    padding: 0 15px;
    min-width: 27%;
    margin-bottom: 32px;
    @include mq(1200) {
      min-width: 50%;
    }
    @include mq(768) {
      width: 100%;
      padding: 0;
    }
    &--max {
      min-width: 500px;
      @include mq(1200) {
        width: 100%;
        min-width: auto;
      }
    }
  }
  &-value {
    color: $mainColor;
    font-size: 72px;
    white-space: nowrap;
    font-weight: 700;
    @include mq(768) {
      font-size: 54px;
    }
  }
  &-label {
    font-size: 24px;
    @include mq(768) {
      font-size: 18px;
    }
    @include mq(480) {
      font-size: 16px;
    }
    @include mq(375) {
      font-size: 14px;
    }
  }
}
.main-link {
  &:hover {
    cursor: pointer;
  }
}
.activities {
  padding: 60px 0;
  &-title {
    margin-bottom: 48px;
  }
  @include mq(991) {
    text-align: center;
  }
  &-texts {
    p {
      font-size: 32px;
      margin-bottom: 1.5em;
      @include mq(768) {
        font-size: 24px;
      }
      @include mq(576) {
        font-size: 18px;
      }
      @include mq(375) {
        font-size: 16px;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: center;
  }
  &-statistic {
    margin-bottom: 32px;
    &__title {
      font-size: 32px;
      margin-bottom: 12px;
    }
    &__list {
      display: flex;
      margin: 0 -15px;
      flex-wrap: wrap;
      @include mq(991) {
        justify-content: center;
      }
    }
    &__info {
      padding: 0 15px;
      min-width: 27%;
      margin-bottom: 48px;

      @include mq(768) {
        width: 100%;
        padding: 0;
      }
    }
    &__value {
      color: $mainColor;
      font-size: 72px;
      white-space: nowrap;
      font-weight: 700;
      @include mq(768) {
        font-size: 54px;
      }
    }
    &__label {
      font-size: 24px;
      @include mq(768) {
        font-size: 24px;
      }
      @include mq(576) {
        font-size: 18px;
      }
      @include mq(375) {
        font-size: 16px;
      }
    }
  }
  &-btn {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
    min-width: 440px;
    justify-content: center;
    &:before {
      opacity: 1;
    }
  }
}
.armed-forces{
  padding: 60px 0;
  @include mq(991) {
    text-align: center;
  }
  &__logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
  }
  &__logo{
    font-size: 0;
    padding: 15px;
    width: calc(100%/8);
    @include mq(991){
      padding: 5px;
    }
    @include mq(768){
      width: calc(100%/6);
    }
    @include mq(576){
      width: calc(100%/4);
    }


   img{
     object-fit: contain;
     max-width: 100%;
   }
  }
}
