@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r8iodu');
  src:  url('fonts/icomoon.eot?r8iodu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r8iodu') format('truetype'),
    url('fonts/icomoon.woff?r8iodu') format('woff'),
    url('fonts/icomoon.svg?r8iodu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-audience:before {
  content: "\e900";
}
.icon-chef:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-laptop:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-telegram:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-telegram-2:before {
  content: "\e90b";
  color: #50c4ed;
}
.icon-infinity:before {
  content: "\e90c";
  color: #50c4ed;
}

