

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
AddDefaultCharset UTF-8


<FilesMatch "\.(html|htm|txt|css|js)$">
    Header set Cache-Control "max-age=31536000"
</FilesMatch>
